h1{
    color: red;
    text-align: center;
    font-size: 100px;

}
#intro{
    color: black;
    text-align: center;
    font-size: 50px;
}
p{
    color: black;
    text-align: center;
    font-size: 25px;
}
form{
    text-align: center;
}

